/.htaccess
/LICENSE
/readme.html
/sitemap.xml
/sitemap.xml.gz


*~
.DS_Store
.idea
.svn
.cvs
*.bak
*.swp
*.log
Thumbs.db

# wordpress specific
wp-config.php
wp-content/ewww/
wp-content/uploads/
wp-content/ewww/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
private/
.Rproj.user

# Local WP Workflow
app/sql/
conf/
*/logs/
logs/
!wp-content/plugins/wsal-external-libraries/aws/vendor/aws/aws-sdk-php/src/data/logs