[data-markdown-import-modal] {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

[data-markdown-import-modal] .modal-content {
    width: 500px;
    display: flex;
    height: 600px;
    overflow: auto;
    background: white;
    flex-direction: column;
}

[data-markdown-import-modal] .modal-body,
[data-markdown-import-modal] .modal-actions,
[data-markdown-import-modal] .modal-heading {
    padding: 16px;
}

[data-markdown-import-modal] .modal-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[data-markdown-import-modal] .modal-heading h5 {
    margin: 0;
    font-size: 16px;
}

[data-markdown-import-modal] button[data-close-modal] {
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: none;
}

[data-markdown-import-modal] .modal-body {
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

[data-markdown-import-modal] .select-all {
    display: flex;
    align-items: center;
    padding: 16px 8px 0 0;
    border-top: 2px solid #f6f7f7;
    justify-content: space-between;
}

[data-markdown-import-modal] .select-all label {
    font-size: 12px;
    font-weight: 600;
}

[data-markdown-import-modal] .select-all label span {
    margin-right: 8px;
}

[data-markdown-import-modal] button[data-import-all] {
    margin-top: auto;
}

[data-markdown-import-modal] .post-info {
    padding-right: 24px;
}

[data-markdown-import-modal] .post-row {
    display: flex;
    margin-bottom: 0;
    padding: 16px 8px;
    align-items: center;
    justify-content: space-between;
}

[data-markdown-import-modal] .post-row:nth-child(odd) {
    background: #f6f7f7;
}

[data-markdown-import-modal] .post-row p {
    margin: 0;
    padding: 0;
}

[data-markdown-import-modal] .post-row p.p-description {
    color: grey;
    margin-top: 4px;
}

[data-markdown-import-modal] .modal-actions {
    display: flex;
    align-items: center;
    justify-content: right;
}

[data-markdown-import-modal] .modal-actions button {
    margin-left: 8px;
}
