@layer utilities {
    .btn-lg-primary,
    .btn-lg-secondary,
    .btn-lg-transparent,
    .btn-lg-primary-dark,
    .btn-lg-secondary-dark,
    .btn-lg-teal-dark,
    .btn-lg-wine-dark {
        @apply px-11 py-5 text-18 text-center;
    }

    .btn-md-primary,
    .btn-md-secondary,
    .btn-md-transparent,
    .btn-md-primary-dark,
    .btn-md-secondary-dark,
    .btn-md-teal-dark,
    .btn-md-wine-dark {
        @apply px-8 py-4 text-16 text-center;
    }

    .btn-sm-primary,
    .btn-sm-secondary,
    .btn-sm-transparent,
    .btn-sm-primary-dark,
    .btn-sm-secondary-dark,
    .btn-sm-teal-dark,
    .btn-sm-wine-dark {
        @apply px-6 py-3 text-16 text-center;
    }

    .btn-lg-primary,
    .btn-md-primary,
    .btn-sm-primary {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide bg-blue4 text-neutral-light shadow-active-primary-20 hover:bg-blue3 duration-[80ms] ease-in-out active:shadow-active-primary-40 focus:border-neutral-light/40 focus:outline-none focus:shadow-focus focus-visible:shadow-focus disabled:bg-gray3 disabled:text-neutral-dark disabled:border-neutral-light/40 disabled:cursor-not-allowed disabled:shadow-none;
    }

    .btn-lg-primary.disabled,
    .btn-md-primary.disabled,
    .btn-sm-primary.disabled {
        @apply bg-gray3 text-neutral-dark border-neutral-light/40 cursor-not-allowed shadow-none pointer-events-none;
    }

    .btn-lg-secondary,
    .btn-md-secondary,
    .btn-sm-secondary {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide bg-neutral-light text-blue3 shadow-active-secondary-20 hover:bg-blue3/10 duration-[80ms] ease-in-out active:shadow-active-secondary-40 focus:outline-none focus:shadow-secondary-focus focus-visible:shadow-secondary-focus disabled:text-gray2 disabled:border-gray3 disabled:cursor-not-allowed disabled:hover:bg-neutral-light disabled:shadow-none;
    }

    .btn-lg-secondary.disabled,
    .btn-md-secondary.disabled,
    .btn-sm-secondary.disabled,
    .btn-lg-transparent.disabled,
    .btn-md-transparent.disabled,
    .btn-sm-transparent.disabled {
        @apply text-gray2 border-gray3 cursor-not-allowed hover:bg-neutral-light shadow-none pointer-events-none;
    }

    .btn-lg-primary-dark,
    .btn-md-primary-dark,
    .btn-sm-primary-dark {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide bg-blue4 shadow-active-primary-20 text-neutral-light hover:bg-blue3 duration-[80ms] ease-in-out active:shadow-active-primary-40 focus:border-neutral-light/40 focus:outline-none focus:shadow-focus focus-visible:shadow-focus disabled:bg-gray3 disabled:text-neutral-dark disabled:border-neutral-light/40 disabled:cursor-not-allowed disabled:shadow-none;
    }

    .btn-lg-primary-dark.disabled,
    .btn-md-primary-dark.disabled,
    .btn-sm-primary-dark.disabled {
        @apply bg-gray3 text-neutral-dark border-neutral-light/40 cursor-not-allowed shadow-none pointer-events-none;
    }

    .btn-lg-secondary-dark,
    .btn-md-secondary-dark,
    .btn-sm-secondary-dark {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide bg-neutral-light/0 shadow-active-secondary-dark-20 text-neutral-light hover:bg-neutral-light/10 duration-[80ms] ease-in-out active:shadow-active-secondary-dark-40 focus:border-neutral-light/40 focus:outline-none focus-visible:shadow-focus-white focus-visible:shadow-secondary-dark-focus disabled:shadow-[inset_0_0_0_1px_rgba(255,255,255,0.8)] disabled:text-neutral-light/60 disabled:cursor-not-allowed disabled:hover:bg-neutral-light/0;
    }

    .btn-lg-secondary-dark.disabled,
    .btn-md-secondary-dark.disabled,
    .btn-sm-secondary-dark.disabled {
        @apply shadow-[inset_0_0_0_1px_rgba(255,255,255,0.8)] text-neutral-light/60 cursor-not-allowed hover:bg-neutral-light/0 pointer-events-none;
    }

    .btn-lg-teal-dark,
    .btn-md-teal-dark,
    .btn-sm-teal-dark {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide shadow-active-primary-20 text-neutral-light duration-[80ms] ease-in-out active:shadow-active-primary-40 focus:border-neutral-light/40 focus:outline-none focus:shadow-focus focus-visible:shadow-focus disabled:bg-gray3 disabled:text-neutral-dark disabled:border-neutral-light/40 disabled:cursor-not-allowed disabled:shadow-none;
        background-color: #20595d;

        &:hover {
            background-color: #1c4c4f;
        }
    }

    .btn-lg-teal-dark.disabled,
    .btn-md-teal-dark.disabled,
    .btn-sm-teal-dark.disabled {
        @apply bg-gray3 text-neutral-dark border-neutral-light/40 cursor-not-allowed shadow-none pointer-events-none;
    }

    .btn-lg-wine-dark,
    .btn-md-wine-dark,
    .btn-sm-wine-dark {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide shadow-active-primary-20 text-neutral-light duration-[80ms] ease-in-out active:shadow-active-primary-40 focus:border-neutral-light/40 focus:outline-none focus:shadow-focus focus-visible:shadow-focus disabled:bg-gray3 disabled:text-neutral-dark disabled:border-neutral-light/40 disabled:cursor-not-allowed disabled:shadow-none;
        background-color: #78384f;

        &:hover {
            background-color: #431f2c;
        }
    }

    .btn-lg-wine-dark.disabled,
    .btn-md-wine-dark.disabled,
    .btn-sm-wine-dark.disabled {
        @apply bg-gray3 text-neutral-dark border-neutral-light/40 cursor-not-allowed shadow-none pointer-events-none;
    }

    .btn-lg-icon,
    .btn-md-icon,
    .btn-sm-icon {
        @apply rounded-[4px] shadow-active-secondary-20 hover:bg-blue3/10 duration-[80ms] ease-in-out active:shadow-active-secondary-40 focus:outline-none focus-visible:shadow-secondary-focus disabled:text-gray2 disabled:border-gray3 disabled:cursor-not-allowed disabled:hover:bg-neutral-light;

        &:disabled path {
            @apply fill-[#878789];
        }
    }

    .btn-lg-icon-dark,
    .btn-md-icon-dark,
    .btn-sm-icon-dark {
        @apply rounded-[4px] shadow-active-secondary-dark-20 hover:bg-neutral-light/10 duration-[80ms] ease-in-out active:shadow-active-secondary-dark-40 focus:outline-none focus-visible:shadow-secondary-dark-focus disabled:text-gray2 disabled:border-gray3 disabled:cursor-not-allowed disabled:hover:bg-neutral-light;

        & path {
            @apply fill-neutral-light;
        }

        &:disabled path {
            @apply fill-[#878789];
        }
    }

    .btn-lg-icon,
    .btn-lg-icon-dark {
        @apply p-[17px];
    }

    .btn-md-icon,
    .btn-md-icon-dark {
        @apply p-[13px];
    }

    .btn-sm-icon,
    .btn-sm-icon-dark {
        @apply p-[9px];
    }

    .btn-lg-transparent,
    .btn-md-transparent,
    .btn-sm-transparent {
        @apply font-source-pro font-semibold uppercase rounded-[4px] tracking-wide bg-transparent text-blue3 shadow-active-secondary-20 hover:bg-blue3/10 duration-[80ms] ease-in-out active:shadow-active-secondary-40 focus:outline-none focus:shadow-secondary-focus focus-visible:shadow-secondary-focus disabled:text-gray2 disabled:border-gray3 disabled:cursor-not-allowed disabled:hover:bg-neutral-light disabled:shadow-none;
    }
}

.addeventatc {
    padding: 13px 12px 12px 43px !important;
}
