/* Hide scrollbar for Chrome, Safari and Opera */
#meet-us::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#meet-us {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.text-line {
    @apply mb-[16px] md:mb-[24px];
}
