.marquee-group {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    animation: marquee 20s linear infinite;
    -moz-animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;

    @apply flex flex-shrink-0 items-center justify-around;
}

@-moz-keyframes marquee {
    0% {
        -moz-transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        -moz-transform: translateX(0%); /* Firefox bug fix */
        -webkit-transform: translateX(0%); /* Firefox bug fix */
        transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
