@media screen and (min-width: 1024px) {
    .download-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .download-content__grid {
        flex: 1 1 0;
    }
}
