@media screen and (max-width: 639px) {
    #cmplz-cookiebanner-container {
        .cmplz-cookiebanner {
            grid-gap: 5px !important;
            padding-bottom: 16px !important;
            padding-top: 8px !important;

            .cmplz-message {
                p {
                    font-size: 14px !important;
                    line-height: 120%;
                }
            }

            .cmplz-buttons {
                .cmplz-btn {
                    padding-bottom: 0.5rem !important;
                    padding-top: 0.5rem !important;
                }
            }
        }
    }
}
